/*import des dossiers*/
@import 'reset';
@import 'variables';

body{
    background-color: $jaune;
}

li{
    display: inline;
}

span{
    display: block;
}

div{
    background-color: $jaune;
    //display: none;
}
div+div{
    background-color: $blue;
    visibility: hidden;
    // display: inherit;
    display:initial;
}

div:nth-of-type(3){
    background-color: $orange;
    visibility: inherit;
    opacity: 0;
}
p{
    display: inline-block;
    height: 25px;
    color:$blue;
    background-color:$rouge;
}