///Tous mes variables du projet
$rouge: #f8455d;
$rose:#f7bfbf;
$vert: #1b8553;
$orange:#eec658;
$jaune: #f5f0c0;
$blueClaire:rgb(197, 241, 247);
$blue:#3939f0;
$noir:#000000;
$gris:#9c9595;
$blanc:#f3ebeb;