*{
    margin:0;
    padding:0;
}
body{
    background: #f1edd4;
}
main{
    background: #f3f1e6;
    width: 500px;
    height: 800px;
    border:1px solid;
    position: relative;
    margin:0px auto;
    padding: 10px,10px,10px,10px;

}